#mainApp {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}

nav {
  border: 1px solid black;
  margin: 5px;
  grid-column-start: 2;
  grid-column-end: 5;
  align-items: center;
  cursor: pointer;
  text-decoration: underline;
}

#loginForm {
  text-align: center;
  float: none;
  display: block;
  margin: 0 auto;
  grid-row-start: 3;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-end: 6;
}

div {
  align-items: center;
  justify-content: center;
}

body {
  background-color: rgb(228, 22, 177);
}
